<!-- Banner-Section -->
<section class="ban">
    <img class="banner" src="./assets/image/ban12.jpg" alt="">
  </section>
  
  <section class="founder">
  <!-- About-US -->
  <div class="container containerfounder">
     <div class="row">
        <div class="col-lg-8 col-md-6 col-12">
            <div class="Aboutus-Details">
                <h3 class="heading">FOUNDER & CHAIRMAN</h3>
                <p class="about">
                  Monkey D. Luffy, a young man with the ability to stretch his body
                  like rubber after eating a Devil Fruit. Luffy sets out on a journey
                  to find the legendary treasure known as "One Piece" and become the Pirate King.
                  The world of "One Piece" is vast and diverse, with various islands, seas, and powerful pirate crews.
                  The series explores themes of friendship, dreams, and the pursuit of freedom
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <div class="AboutUs-Image">
                <img class="img-fluid abouting" src="./assets/image/0b2a0b764b80137faccea2a28c1456e5.jpg" alt="">
            </div>
        </div>
     </div>
  </div>
  </section>
  
  <section class="productinfo">
  <div>
      <h3 class="about-me" >Products </h3>
      <div class="container">
          <div class="row">
              <!-- product list -->
  
              <div class ="col-lg-4 col-md-6 col-12 protect-container">
                <img src="./assets/image/61aG-zNDj1L._SL1480_.jpg" alt="" class="img-fluid">
                <h5 class="product-name">Luffy Gear 5</h5>
                <p>One Piece Monkey D Luffy Action Figure Gear 5 Anime Figure Collection Model (Sun God)</p>
                     <p>  </p>
                     <p class="price">$<del> 240</del>  $200</p>
              </div>
  
              <div class ="col-lg-4 col-md-6 col-12 protect-container">
                  <img src="./assets/image/61eQYpLYjVL._SL1500_.jpg" alt="" class="img-fluid">
                  <h5 class="product-name">Fire Fist Ace</h5>
                  <p>Portgas D. Ace 7 Action Figure Limited Edition for Car Dashboard (18cm)</p>
                       <p>  </p>
                       <p class="price">$<del> 150</del>  $120</p>
              </div>
              
              <div class ="col-lg-4 col-md-6 col-12 protect-container">
                <img src="./assets/image/71654a0o6gL._SL1500_.jpg" alt="" class="img-fluid">
                <h5 class="product-name">Pirate Hunter</h5>
                <p>One Piece Roronoa Zoro Action Figure Fantasy Three Swords Style Toy</p>
                     <p>  </p>
                     <p class="price">$<del> 180</del>  $150</p>
              </div>
            
            <div class ="col-lg-4 col-md-6 col-12 protect-container">
              <img src="./assets/image/415CP95avZL.jpg" alt="" class="img-fluid">
              <h5 class="product-name">Red-Haired Shanks</h5>
              <p>One Piece Film Red Shanks The Grandline Vol 2 Action Figure PVC Weeb Manga Model Toy</p>
                   <p>  </p>
                   <p class="price">$<del> 200</del>  $170</p>
            </div>
          
            <div class ="col-lg-4 col-md-6 col-12 protect-container">
              <img src="./assets/image/nami.jpg" alt="" class="img-fluid">
              <h5 class="product-name">Cat Burglar</h5>
              <p>One Piece Nami Land Of Wano Arc Special Edition Anime Figure Toy</p>
                   <p>  </p>
                   <p class="price">$<del> 70</del>  $40</p>
            </div>
  
        <div class ="col-lg-4 col-md-6 col-12 protect-container">
          <img src="./assets/image/sanji.jpg" alt="" class="img-fluid">
          <h5 class="product-name">Black Leg</h5>
          <p>One Piece Vinsmoke Sanji Fighting Action Figure Anime Toy</p>
               <p>  </p>
               <p class="price">$<del> 160</del>  $140</p>
        </div>
  
            </div>
          </div>
      </div>
  </section>

  