<!-- <footer section> -->
    <section>
        <div class="container-fluid footer">
        <div class="container">
        <div class="row">
          <!-- about me -->
          <div class="col-lg-4 col-md-4 col-6 footer-about">
            <h3 class="footer-h">About Us</h3>
            
            <p class="footer-pa">
              Monkey D. Luffy, a young man with the ability to stretch his body like rubber after eating a Devil Fruit. 
              Luffy sets out on a journey to find the legendary treasure known as "One Piece" and become the Pirate King.
            </p>
          </div>
          <!-- use link -->
          <div class="col-lg-4 col-md-4 col-6 footer-link">
            <h3 class="footer-h">Site Map</h3>
            <ul class="unorder">
              <li class="list">
                <a href="" class="link">Products</a>
              </li>
              <li class="list">
                <a href="" class="link">Shop</a>
              </li>
            </ul>
          </div>
          
                     <!-- contact us -->
    <div class="col-lg-4 col-md-4 col-6 footer-contacts">
        <h3 class="footer-h">Contact Info</h3>
        <p class="side-p"><b>Email:</b> sunilsait.b@gmail.com</p>
        <p class="side-p1"><b>Phone:</b> 8300144784</p>
        <img class="foot-logo" src="./assets/image/foot1.jpg" alt="">
    </div>